.advantages {
  padding-top: 120px;
  padding-bottom: 120px;

  h3 {
    margin-top: 20px;
    margin-bottom: 15px;

    font-weight: 400;
    line-height: 34px;
    font-size: 24px;
    font-family: $ff-roboto-condensed;
    color: $color-deep-sky-blue;
  }

  p {
    max-width: 505px;
    margin: 0;

    color: $color-default-black;
    font-family: $ff-pt-mono;
    line-height: 135%;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 30px;
  justify-content: center;
}

.advantages__item {
  position: relative;
  min-height: 300px;
  padding: 40px 45px 35px 45px;

  border: 1px solid $color-border-whisper;

  @media (hover: hover), screen {
    &:hover,
    &:focus {
      background-color: $color-deep-sky-blue;
    }
  }
}

.advantages__item:hover > p,
.advantages__item:hover > h3 {
  color: $color-default-white;
}

.advantages__item:hover > svg {
  fill: $color-default-white;
}

.advantages__item::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: $color-deep-sky-blue;
  left: 0;
  top: 0;
}

@include vp-1023 {
  .advantages {
    padding-top: 80px;
    padding-bottom: 80px;

    h3 {
      margin-top: 0;
      margin-bottom: 0;

      font-size: 20px;
      line-height: 28px;
    }
  }

  .advantages__list {
    column-gap: 29px;
  }

  .advantages__item {
    min-height: 360px;
    padding-right: 30px;
  }
}

@include vp-767 {
  .advantages {
    padding-top: 50px;
    padding-bottom: 38px;

    p {
      min-height: 152px;

      font-size: 14px;
      line-height: 19px;
      max-width: 100%;
    }

    h3 {
      margin-top: 9px;
      margin-bottom: 8px;
    }
  }

  .advantages__list {
    grid-template-columns: 100%;
    column-gap: 0;
    row-gap: 30px;
  }

  .advantages__item {
    min-height: 335px;
    padding: 30px 30px 35px 30px;
  }

  .advantages__icon {
    width: 30px;
    height: 30px;
  }
}
