.catalog {
  padding-top: 70px;
  padding-bottom: 140px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  background-color: $color-black-pearl;

  .catalog__title {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .catalog__title--mobile {
    display: none;
  }

  .catalog__item-title {
    width: 151px;
    margin: 0;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 85px;
    row-gap: 45px;
    align-items: center;
    justify-content: center;
  }

  .catalog__item {
    position: relative;
  }

  .catalog__link::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/svg/blue-square-desktop.svg");
    bottom: 0;
    right: 0;
  }

  .catalog__link {
    display: block;
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 50px;
    min-height: 650px;
    max-width: 350px;
    background-color: $color-black-pearl;
    background-size: 350px 650px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }

  .catalog__link-1 {
    @include retina-bg("../img/catalog-card-1-desktop");
  }

  .catalog__link-2 {
    @include retina-bg("../img/catalog-card-2-desktop");
  }

  .catalog__link-3 {
    @include retina-bg("../img/catalog-card-3-desktop");
  }

  @include vp-1023 {
    padding-top: 53px;
    padding-bottom: 75px;

    .catalog__title {
      margin-bottom: 40px;
    }

    .catalog__item-title {
      width: 150px;
    }

    .catalog__list {
      grid-template-columns: 100%;
      row-gap: 30px;
    }

    .catalog__link {
      min-height: 250px;
      max-width: 100%;
      padding-top: 37px;
      padding-left: 42px;
      background-size: 100% 100%;
    }

    .catalog__link-1 {
      @include retina-bg("../img/catalog-card-1-tablet");
    }

    .catalog__link-2 {
      @include retina-bg("../img/catalog-card-2-tablet");
    }

    .catalog__link-3 {
      @include retina-bg("../img/catalog-card-3-tablet");
    }
  }

  @include vp-768 {
    padding-top: 50px;
    padding-bottom: 86px;

    .catalog__title {
      margin-bottom: 25px;
    }

    .catalog__link-1 {
      @include retina-bg("../img/catalog-card-1");
    }

    .catalog__link-2 {
      @include retina-bg("../img/catalog-card-2");
    }

    .catalog__link-3 {
      @include retina-bg("../img/catalog-card-3");
    }

    .catalog__link {
      padding-top: 29px;
      padding-left: 30px;
      padding-right: 0;
      min-height: 250px;
      min-width: 270px;
      background-size: cover;
      background-position: center;
    }

    .catalog__link::after {
      width: 40px;
      height: 40px;
      background-image: url("../img/svg/blue-square.svg");
    }

    .catalog__title--main {
      display: none;
    }

    .catalog__title--mobile {
      display: block;
    }
  }
}
