.contacts {
  .contacts__list {
    width: 345px;
  }

  @include vp-1023 {
    .contacts__list {
      width: 320px;
    }
  }

  @include vp-767 {
    .contacts__list {
      width: 280px;
      margin-bottom: 10px;
    }
  }
}
