.feedback {
  position: relative;
  padding-top: 165px;
  padding-bottom: 250px;
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/feedback-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 50% 78%;
  background-size: 100% 189%;

  @include retina {
    background-image: url("../img/feedback-bg-desktop@2x.png");
  }

  &--modal {
    width: 500px;
    padding: 40px 40px 30px 40px;
    background-image: none;
    border-radius: 3px;
  }

  &--order-call {
    background-image: none;
  }

  button {
    justify-self: flex-start;
    justify-content: center;
  }

  textarea,
  input {
    width: 100%;
    border: none;
    border-radius: 3px;
    color: $color-alice-blue;
    background-color: $color-deep-sky-blue-transparent;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  textarea,
  input,
  label {
    font-family: $ff-pt-mono;
  }

  label {
    margin-left: 8px;

    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    opacity: 0.8;
  }

  input {
    padding: 15px;
    min-height: 50px;
    min-width: 15px;
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin-left: 15px;
    appearance: none;
    background-color: $color-transparent;
    cursor: pointer;
  }

  input[type="checkbox"]::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 26px;
    left: 11px;
    border-radius: 2px;
    border: 1px solid $color-default-white;
  }

  input[type="checkbox"]:checked::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 6px;
    top: 29px;
    left: 14px;
    background-image: url("../img/svg/checked-vector.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  textarea {
    min-height: 155px;
    padding: 24px 15px 15px 15px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $color-default-white;
  }

  input:focus {
    padding-left: 15px;
  }

  textarea:focus {
    padding-left: 15px;
    padding-top: 24px;
  }

  .feedback__input-phone-unfilled {
    box-shadow: 0 0 4px 6px $color-roman;
    color: $color-roman;
  }

  .feedback__input-phone-filled {
    box-shadow: none;
    color: $color-default-white;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__wrapper::after {
  content: "";
  position: absolute;
  width: 39%;
  height: 84%;
  top: 19%;
  left: 41px;
  background-image: url("../img/paper-airplane-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.feedback__container {
  max-width: 580px;
  margin-left: auto;
  margin-right: 10px;
}

.feedback__container--order-call {
  max-width: 580px;
  margin: auto auto;
}

.feedback__container--order-call::after {
  background-image: none;
}

.feedback__pharagraph-main {
  margin-top: 0;
  margin-bottom: 8px;
}

.feedback__pharagraph-under {
  margin: 0;
}

.feedback__form {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 275px);
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 35px;

  &--modal {
    grid-template-columns: 420px;
    row-gap: 21px;
  }
}


.feedback__input-container-textarea {
  grid-column-start: 1;
  grid-column-end: -1;
}

.feedback__form-controls-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: -1;
  flex-direction: row-reverse;
}

.feedback__form-controls-container--modal {
  flex-direction: column-reverse;
}

.feedback__checkbox-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: end;
  align-items: end;
  margin-left: 37px;
}

.feedback__checkbox-container--modal {
  justify-content: normal;
  align-items: center;
  margin-left: 0;
  align-self: flex-start;

  input[type="checkbox"]::before {
    top: 21px;
    left: 8px;
  }

  input[type="checkbox"]:checked::after {
    top: 25px;
    left: 10px;
  }

  label {
    margin-left: 3px;
    margin-top: 7px;
  }
}

.feedback__checkbox-container--feedback-modal > input[type="checkbox"]::before {
  top: 34px;
}

.feedback__checkbox-container--feedback-modal > input[type="checkbox"]:checked::after {
  top: 38px;
}

@include vp-1439 {
  .feedback__wrapper::after {
    width: 37%;
    left: 19px;
  }
}


@include vp-1023 {
  .feedback {
    padding-top: 45px;
    padding-bottom: 123px;
    background-image: none;

    &--order-call {
      padding-top: 175px;
    }

    button {
      max-width: 100%;
    }

    textarea {
      padding-top: 32px;
    }

    textarea:focus {
      padding-top: 32px;
    }

    input[type="checkbox"] {
      margin-left: 9px;
    }

    input[type="checkbox"]:checked::after {
      top: 29px;
      left: 2px;
    }

    input[type="checkbox"]::before {
      top: 25px;
      left: -2px;
    }

    label {
      margin-left: 0;
    }
  }

  .feedback__container {
    max-width: 100%;
    margin: 0 auto;
  }

  .feedback__pharagraph-main {
    margin-bottom: 6px;
  }

  .feedback__form {
    width: 100%;
    grid-template-columns: repeat(2, 48%);
    margin-top: 25px;
  }

  .feedback__wrapper::after {
    background-image: none;
  }

  .feedback__checkbox-container {
    max-width: 235px;
    align-self: flex-start;
    margin-left: 0;
    margin-right: 86px;
  }

  .feedback__form-controls-container {
    justify-content: space-between;
  }
}

@include vp-767 {
  .feedback {
    padding-top: 50px;
    padding-bottom: 70px;

    &--order-call {
      padding-top: 100px;
    }

    textarea {
      min-height: 180px;
      padding-top: 25px;
    }

    textarea::placeholder {
      padding-top: 0;
    }

    input[type="checkbox"] {
      margin-left: 16px;
    }

    input {
      padding: 16px;
    }

    input[type="checkbox"]::before {
      top: 6px;
      left: 5px;
    }

    input[type="checkbox"]:checked::after {
      top: 10px;
      left: 7px;
    }

    label {
      align-self: flex-start;
      margin-left: 0;
    }
  }

  .feedback__pharagraph-main {
    margin-bottom: 6px;
  }

  .feedback__pharagraph-under {
    max-width: 270px;
  }

  .feedback__form {
    grid-template-columns: 100%;
    margin-top: 33px;
  }

  .feedback__checkbox-container {
    margin-right: 0;
    margin-top: 27px;
  }

  .feedback__form-controls-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
