.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 55px;

  @include dark-theme;

  h2 {
    margin-top: 5px;
    margin-bottom: 20px;

    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-transform: uppercase;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1302px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .footer__btn-toggle {
    display: none;
  }

  .footer__upper-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .footer__lower-container {
    display: flex;
  }

  .footer__list-item {
    margin-bottom: 6px;
  }

  .footer__list-text {
    font-family: $ff-pt-mono;
    line-height: 22px;
    color: $color-white-transparent;
  }

  .footer__list-address {
    font-style: normal;
  }

  @include vp-1439 {
    .footer__container {
      max-width: 1286px;
      padding: 0 32px;
    }
  }

  @include vp-1023 {
    padding-top: 50px;
    padding-bottom: 65px;

    .footer__container {
      flex-wrap: wrap;
      max-width: 100%;
      padding: 0 51px;
    }

    .footer__upper-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 35px;
      margin-right: 0;
    }

    .footer__lower-container {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }

    .footer__list-item {
      margin-bottom: 6px;
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  @include vp-767 {
    padding-top: 35px;

    .footer__container {
      max-width: 100%;
      padding: 0;
    }

    .footer__wrapper {
      max-width: 302px;
      margin: 0 auto;
      padding: 0 16px;
    }

    .footer__upper-container {
      flex-direction: column;
      margin-bottom: 25px;
    }

    .footer__lower-container {
      flex-direction: column;
    }

    .footer__list-item {
      margin-bottom: 9px;
    }

    .footer__list-address,
    .footer__list-text {
      font-size: 14px;
    }

    .footer__btn-toggle {
      display: flex;
      width: 100%;
      padding-left: 0;
      padding-top: 22px;
      padding-bottom: 20px;

      .footer__button-text {
        font-family: $ff-roboto-condensed;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: $color-default-white;
        text-transform: uppercase;
      }
    }

    h2 {
      display: none;
    }

    .footer__navigation {
      border-top: 1px solid $color-white-transparent;
      border-bottom: 1px solid $color-white-transparent;
    }

    .footer__contacts {
      border-bottom: 1px solid $color-white-transparent;
    }

    [data-accordion-btn="close"] {
      background-image: url("../img/svg/plus.svg");
      background-repeat: no-repeat;
      background-position: 100% 43%;
    }

    [data-accordion-btn="open"] {
      padding-bottom: 15px;

      background-image: url("../img/svg/minus.svg");
      background-repeat: no-repeat;
      background-position: 100% 50%;
    }

    [data-accordion-block="open"] {
      display: block;
    }

    [data-accordion-block="close"] {
      display: none;
    }
  }
}
