.header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;

  z-index: 2;

  color: $color-alice-blue;
  background: linear-gradient($color-black-pearl 75%, $color-transparent);
  background-position: center;
  background-size: 1920px 106%;

  @include retina-bg("../img/bg-header-desktop");

  .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header__user-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 5px auto 0 auto;
  }

  .header__user-menu-link {
    display: flex;
    margin-top: 10px;
    color: $color-alice-blue;
  }

  .header__user-menu-link--mail {
    margin-right: 123px;
  }

  .header__user-menu-link--phone {
    margin-right: 13px;
  }

  .header__user-menu-icon {
    margin-right: 15px;
  }

  .header__call-btn {
    margin-right: 58px;
  }

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;

    background-size: 770px 100px;

    @include retina-bg("../img/bg-header-tablet");

    .header__user-menu {
      margin: 0 17px 0 auto;
    }

    .header__user-menu-link--mail {
      margin-right: 22px;
    }

    .header__user-menu-link--phone,
    .header__user-menu-icon {
      margin-right: 0;
    }


    .header__user-menu-link {
      margin-top: 0;
      padding: 11px;
    }

    .header__call-btn {
      display: none;
    }

    .header__user-menu-text {
      display: none;
    }
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;

    background-size: 320px 70px;

    @include retina-bg("../img/bg-header");

    .header__user-menu-link {
      margin-top: 0;
      padding: 7px;
    }

    .header__user-menu {
      margin: 0 14px 0 auto;
    }

    .header__user-menu-link--mail {
      margin-right: 25px;
    }
  }
}
