.header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;

  z-index: 2;

  color: $color-alice-blue;
  background: linear-gradient($color-black-pearl 75%, $color-transparent);
  background-position: center;
  background-size: 1920px 106%;

  @include retina-bg("../img/bg-header-desktop");

  .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header__user-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: space-between;
    width: 500px;
    margin: 5px auto 0 auto;
    padding-left: 15px;
  }

  .header__user-menu-link {
    display: flex;
    margin-top: 10px;
    color: $color-alice-blue;
  }

  .header__user-menu-link--phone {
    margin-right: 24px;
  }

  .header__user-menu-icon {
    margin-right: 15px;
  }

  .header__call-btn {
    align-self: flex-start;
    margin-right: 58px;
    margin-top: 6px;
  }

  @include vp-1023 {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 25px;

    @include retina-bg("../img/bg-header-tablet");

    .header__user-menu {
      justify-content: end;
      margin: 0 0 0 auto;
      max-width: 200px;
    }

    .header__user-menu-link--phone {
      margin-right: 0;
    }

    .header__user-menu-icon {
      margin-right: 0;
    }


    .header__user-menu-link {
      margin-top: 0;
      padding: 11px;
      margin-right: 18px;
    }

    .header__call-btn {
      display: none;
    }

    .header__user-menu-text {
      display: none;
    }
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;

    @include retina-bg("../img/bg-header");

    .header__user-menu-link {
      margin-top: 0;
      padding: 7px;
      margin-right: 0;
    }

    .header__user-menu {
      margin: 0 14px 0 auto;
    }

    .header__user-menu-link--mail {
      margin-right: 25px;
    }
  }
}
