.pharagraph {
  &--feedback-main {
    font-family: $ff-roboto-condensed;
    font-size: 36px;
    line-height: 51px;
  }

  &--feedback-modal {
    font-family: $ff-roboto-condensed;
    font-size: 30px;
    line-height: 42px;
  }

  &--feedback-under {
    font-family: $ff-pt-mono;
    line-height: 22px;
  }

  @include vp-768 {
    &--feedback-main {
      font-size: 30px;
      line-height: 42px;
    }

    &--feedback-under {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
