.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 30px;

  .social-list__item:not(:last-child) {
    margin-right: 25px;
  }

  @include vp-1023 {
    margin: 0;
  }

  .social-list__link {
    display: block;
  }

  @include vp-767 {
    margin-top: 20px;
  }
}
