.title {
  &--catalog {
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  &--catalog-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $color-default-white;
  }

  @include vp-768 {
    &--catalog {
      font-size: 28px;
      line-height: 39px;
    }

    &--catalog-item {
      font-size: 18px;
    }
  }
}
