.container {
  width: 100%;
  max-width: 1298px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-1439 {
    max-width: 1298px;
    padding: 0 32px;
  }

  @include vp-1023 {
    max-width: 100%;
    padding: 0 51px;
  }

  @include vp-768 {
    padding: 0 25px;
  }
}
